section{
  margin: 0 0 20px 0;
}
.form-input-container{
    width: 300px;
    max-width: 25%;
    padding: 0 10px;
    box-sizing: border-box;
}
  
  .form-container label{
    display: block;
}
  
.full-width {
  width: 100%;
}

.half-width{
  width: 49%;
}

.form-button{
  width: 200px;
  margin: 0 10px;
}

@media only screen and (max-width:1000px){
  .form-input-container{
      display: inline-block;
      width: 440px;
      max-width: 49%;
      padding: 0 10px;
      box-sizing: border-box;
  }

  .flex-row.block-mobile{
    display: block;
  }

  .form-button{
    width: 440px;
    max-width: calc(50%-10px);
    margin: 0;
  }

  .margin-bottom-mobile{
    margin-bottom: 20px;
  }

  .full-width-mobile  button{
    width: 100%;
  }
    
}
