<section *ngIf="!showExpenseForm">
    <button mat-flat-button color="primary" (click)="onAddNewExpense()">Add New Expenses</button>
</section>

<section *ngIf="showExpenseForm">
    <form [formGroup]="ExpenseForm" (ngSubmit)="onSubmit()">

        <p>Fill in the fields and add as many expenses as you want</p>
        <div class="flex-row block-mobile block-mobile" (click)="checkChanges()" (keyup)="checkChanges()">
            <!-- date -->
            <div class="form-input-container">
                <mat-form-field class="half-width">
                    <mat-label>Day</mat-label>
                    <mat-select formControlName="day" name="day" id="day">
                        <mat-option *ngFor="let day of days" [value]="day" (click)="checkChanges()">
                            {{day}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="half-width">
                    <mat-label>Month</mat-label>
                    <mat-select formControlName="month" name="month" id="month">
                        <mat-option *ngFor="let month of monthList" [value]="month.value" (click)="checkChanges()">
                            {{month.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- expense name -->
            <div class="form-input-container">
                <label for="expense"></label>
                <mat-form-field class="full-width">
                    <mat-label>Expense Name</mat-label>
                    <input 
                    matInput 
                    placeholder="Eg: Gasolina"
                    type="text"
                    name="expense"
                    id="expense"
                    formControlName="expense"
                    required>
                </mat-form-field>
            </div>
            
            <!-- amount -->
            <div class="form-input-container">
                <mat-form-field class="full-width">
                    <mat-label>Amount</mat-label>
                    <input 
                    matInput 
                    placeholder="100"
                    type="number"
                    name="amount"
                    id="amount"
                    formControlName="amount"
                    required>
                </mat-form-field>
            </div>

            <!-- category -->
            <div class="form-input-container">
                <mat-form-field class="full-width">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="category" name="category" id="category">
                    <mat-option *ngFor="let category of categories" [value]="category.value" (click)="checkChanges()">
                        {{category.viewValue}}
                    </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <p>isFormValid : {{isFormValid}}</p>

        <div class="flex-row block-mobile">
            <!-- submit button -->
            <div class="flex-row margin-bottom-mobile">
                <button class="form-button" type="button" mat-stroked-button color="primary" (click)="onCancel()">Cancel</button>
                <button class="form-button" type="submit" mat-flat-button color="primary" [disabled]="!isFormValid">Add</button>
                
            </div>
            <div class="full-width-mobile">
                <button class="form-button" type="button" mat-flat-button color="primary" (click)="onDone()">Done</button>
            </div>
        </div>
        
    </form>
</section>

