.form-input-container{
    width: 300px;
    max-width: 49%;
    margin: 0 20px 20px 0;
    display: inline-block;
}
  
  .form-container label{
    display: block;
}
  
.full-width {
  width: 100%;
}

.submit-button{
  width: 300px;
  max-width: 49%;
}