#navbar .navbar-row{
    display: flex;
    justify-content: space-between;
}

#navbar{
    width: 100%;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    z-index: 1;
}

.logo{
    text-decoration: none;
    color: #ffffff;
}