
button{
    width: 150px;
    margin: 0 10px;
}

.mobile{
    display: none;
}

@media only screen and (max-width:480px){
    .mobile{
        display: block;
    }
    .buttons{
        display: flex;
        flex-flow: column;
    }

    .buttons button{
        margin: 0 0 20px 0;
        width: 250px;
        max-width: 100%;
    }
}