
button{
    width: 150px;
}

section{
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.mobile{
    display: none;
}

.primary-color{
    color: var(--primary-color);
}

@media only screen and (max-width:480px){
    .mobile{
        display: block;
    }
    .buttons{
        display: flex;
        flex-flow: column;
    }

    .buttons button{
        margin-bottom: 20px;
        width: 100%;
    }
}