<section class="center">
    <h1>{{(isLogin)?'Login':'Signup'}}</h1>
    <!-- login/signup form -->
    <form [formGroup]="LoginForm" (ngSubmit)="onSubmit()">
        <div class="login-signup-form">
            <!-- email -->
            <div class="form-input margin-auto">
                <mat-form-field class="full-width">
                    <mat-label>Email</mat-label>
                    <input 
                    matInput 
                    placeholder="example@email.com"
                    type="email"
                    name="email"
                    id="email"
                    formControlName="email"
                    required>
                </mat-form-field>
            </div>

            <!-- expense name -->
            <div class="form-input margin-auto">
                <label for="password"></label>
                <mat-form-field class="full-width">
                    <mat-label>Password</mat-label>
                    <input 
                    matInput 
                    placeholder="password"
                    type="password"
                    name="password"
                    id="password"
                    formControlName="password"
                    required>
                </mat-form-field>
            </div>

            <!-- buttons -->
            <div class="login-signup-button">
                <button routerLink="/dashboard" type="submit" mat-flat-button color="primary" [disabled]="false">Login</button>
                <button routerLink="/" type="button" mat-stroked-button color="primary">Back</button>
            </div>
        </div>
        
    </form>    
</section>
