button{
    width: 160px;
}

.login-signup-form{
    margin: 0 auto;
    width: 350px;
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column; */
}

.login-signup-button{
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 480px) {
    .login-signup-form{
        max-width: 100%;
    }

    .login-signup-button{
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .login-signup-button button{
        margin-bottom: 20px;
        width: 100%;
    }
    
}