:root {
    --primary-color: #3f51b5;
    --secondary-color: #ff4081;
  }

section.center{
  padding: 0 50px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  height: 100vh;
  align-items: center;
}

.margin-auto{
  margin: 0 auto;
}

.full-width{
  width: 100%;
}

.primary-color{
  color: var(--primary-color);
}

body{
  margin: 0;
}

.justify-center{
  justify-content: center;
}

.flex-row{
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}

.fixed-top{
  position: fixed;
  top: 0;
}

.fixed-bottom{
  position: fixed;
  bottom: 0;
}

.margin-bottom{
  margin-bottom: 20px !important;
}

.nomargin{
  margin: 0 !important;
}

@media only screen and (max-width:480px){
  .margin-bottom-mobile{
    margin-bottom: 20px !important;
  }

  .nomargin-mobile{
    margin: 0 !important;
  }
}

